.tabsComponet{
	/*	width: 90%;
		height: 90%;*/
	min-height: 300px;
	min-width: 400px;
}

fieldset div{
	position:relative;
}

.droptrue {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
	margin-right: 10px;
	background: #eee;
	padding: 5px;
	width: 250px;
	min-width:200;
	min-height: 30px;
}

.droptrue li {
	margin: 5px;
	padding: 5px;
	font-size: 1.2em;
	min-width: 200px;
}

.formulario div p label {
	display: inline-block;
	width: 130px;
	font-weight: bold;
	vertical-align: top;
}

.formulario div p {
	margin: 0;
	height: 30px;
}

.encabezadoTool {
	font-size: 15;
	padding: 5px;
	margin: 0.5px;
	display: block;
}


.multicolumna{
 	-moz-column-width: 50%;
	-moz-column-gap: 20px;
	-moz-column-count: 2;
 	-webkit-column-width:  50%;
	-webkit-column-gap: 20px;
	-webkit-column-count: 2;
	
}

.ui-autocomplete {
		max-height: 100px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
	}
	
	
/* 	Estilos de jquery 

http://jqueryui.com/themeroller/#ffDefault=Verdana%2CArial%2Csans-serif&fwDefault=normal&fsDefault=10.5px&cornerRadius=5px&bgColorHeader=2191c0&bgTextureHeader=12_gloss_wave.png&bgImgOpacityHeader=80&borderColorHeader=4297d7&fcHeader=eaf5f7&iconColorHeader=d8e7f3&bgColorContent=fcfdfd&bgTextureContent=06_inset_hard.png&bgImgOpacityContent=100&borderColorContent=a6c9e2&fcContent=222222&iconColorContent=0078ae&bgColorDefault=0078ae&bgTextureDefault=02_glass.png&bgImgOpacityDefault=55&borderColorDefault=77d5f7&fcDefault=ffffff&iconColorDefault=e0fdff&bgColorHover=79c9ec&bgTextureHover=02_glass.png&bgImgOpacityHover=75&borderColorHover=448dae&fcHover=026890&iconColorHover=056b93&bgColorActive=6eac2c&bgTextureActive=12_gloss_wave.png&bgImgOpacityActive=50&borderColorActive=acdd4a&fcActive=ffffff&iconColorActive=f5e175&bgColorHighlight=f8da4e&bgTextureHighlight=02_glass.png&bgImgOpacityHighlight=55&borderColorHighlight=fcd113&fcHighlight=915608&iconColorHighlight=f7a50d&bgColorError=e14f1c&bgTextureError=12_gloss_wave.png&bgImgOpacityError=45&borderColorError=cd0a0a&fcError=ffffff&iconColorError=fcd113&bgColorOverlay=aaaaaa&bgTextureOverlay=01_flat.png&bgImgOpacityOverlay=90&opacityOverlay=30&bgColorShadow=999999&bgTextureShadow=01_flat.png&bgImgOpacityShadow=55&opacityShadow=45&thicknessShadow=0px&offsetTopShadow=5px&offsetLeftShadow=5px&cornerRadiusShadow=5px

*/